#camCanvas { display:none }
.requireHide { display:none }
.nav-link.active {
    border-bottom:0;
        background:transparent !important
}
#boxSettings{
    display:none
}


.range {

    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    border-radius: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.4;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.range:hover {
    opacity: 1;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border:0px solid #555;
    border-radius: 50%;
    background: #828282;
    cursor: pointer;
}

.range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border:0px solid #555;
    border-radius: 50%;
    background: #828282;
    cursor: pointer;
}


svg{
    width:100% !important;
    height:100% !important;
    position:reative;
}

textarea {
    line-height:20px !important
}

.striped{
   background:repeating-linear-gradient(45deg, transparent, transparent 10px, #ccc 10px, #ccc 20px), linear-gradient(to bottom, #eee, #999)
}

.hiddenText {
    -webkit-text-security: disc;
    font-size:0 !important;
    line-height:20px;
}

.switch input { 
    display:none;
}
.switch {
    display:inline-block;
    width:60px;
    height:30px;
    margin:8px;
    margin-top:-11px;
    transform:translateY(50%);
    position:relative;
}

.slider {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:30px;
    box-shadow:0 0 0 2px #f77, 0 0 4px #f77;
    cursor:pointer;
    border:4px solid transparent;
    overflow:hidden;
     transition:.4s;
}
.slider:before {
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    background:#f77;
    border-radius:30px;
    transform:translateX(-30px);
    transition:.4s;
}
input:checked + .slider:before {
    transform:translateX(30px);
    background:limeGreen;
}
input:checked + .slider {
    box-shadow:0 0 0 2px limeGreen,0 0 2px limeGreen;
}
.wallpapered {
    
}
.wallpapered textarea {
    width: inherit;
    height: inherit;
}
.wallpapered .background {
    position: absolute;
    bottom: 0;
    right: 0;
    padding:0px 45px 10px 0px;
    color: gray;
    z-index:10
}

.resizable1 {
  border-right: 2px dotted #cdcdcd;
  overflow: auto;
  resize: both;

}
.card{
    background:transparent !important
}
.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.custom-transparent, .custom-file-label{
    background:rgba(0,0,0,.01) !important;
}
.btn-secondary{
    background:rgba(0,0,0,.05) !important;
    border: 1px solid #ced4da !important;
    color:#495057 !important
}

.nav-tabs {
    border-top: 1px solid #dee2e6 !important;
    border-bottom: 0 !important;
}
.nav-tabs .nav-link {
    border: 0px solid transparent;
}


/* start spinner */

    /*ripple*/
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #ccc;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

/* end spinner */
